@charset "utf-8";
/* CSS Document */

#wpbitly_support .logo a { display: block; position: absolute; right: 8px; bottom: 8px; width: 113px; height: 38px; text-indent: -10000px; background: url('logo.png') no-repeat 98% 96%; }

.postbox .links li { margin-left: .9em; padding-left: 22px; background: transparent url('link.png') no-repeat 0 50%; }

p.wpbitly { text-align: center; }
p.wpbitly select { width: 140px; }

#wpbitly .intro { margin: 1em 0 0.5em; padding: 2px 0.5em; color: #353535; }
#wpbitly .intro p { font-size: 12px; }
#wpbitly strong { color: #555; }

	#wpbitly fieldset { margin: 0.5em 0; padding: 6px 0.5em; }

    #wpbitly dl { clear: both; list-style: none; margin: 0; padding: 0; border: 1px solid #eee; background: #f6f6f6; font-size: 0; height: 2px; -moz-border-radius: 4px; -khtml-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
        #wpbitly dl dt {  font-size: 12px; clear: both; float:left; width: 35%; margin: 6px 0; padding:2px 8px 10px 2px; cursor: default; }
        #wpbitly dl dt label { font-size: 12px; font-weight: 700; color: #454545; cursor: default; }
        #wpbitly dl dt p { margin-top: 1px; padding-top: 6px; font-size: 0.9em; border-top: 1px dotted #dfdfdf;line-height: 1.1em; color: #aaa; }
			#wpbitly dl dt p a { color: #999; text-decoration: none; }
			#wpbitly dl dt p a:hover { text-decoration: underline; }

        #wpbitly dl dd { margin: 20px 0; padding: 8px 0 0 10px; float:left; width: 60%; color:#333; }
        #wpbitly dl dd span { margin: 0 3em 0 0.5em; font-size: 12px; position: relative; top: 2px; }
        #wpbitly dl:hover dt, #wpbitly dl:hover dd { border-color:#666; }
        #wpbitly dl:hover dt label { color:#000; }
        #wpbitly dl:hover dt p { color: #BC2A4D; }
		#wpbitly dl:hover dt p a { color: #590f21; text-decoration: underline; }

		#wpbitly textarea { min-width: 300px; }
        #wpbitly select { min-width: 140px; }

        input[type='checkbox'] { position: relative; top: -1px; }
        input[type='radio'] { position: relative; top: -3px; }